{% extends 'base.html' %}
{% block body %}

<script src="static/js/jquery-3.6.0.js"></script>

<div class="alert alert-success">検出結果</div>

<img id="dect_img" src={{dect_img}}>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $('#dect_img').on('click',function(event) {
        event.preventDefault();
        // Ajax通信を開始
        $.ajax({
            url: "/detection/img",
            method: "POST",
            data: {
                'offsetX': event.offsetX,
                'offsetY': event.offsetY,
            },
            dataType: 'text',
        })
        .done(function(data) {
            // alert("クリック成功");
            // 通信成功時の処理を記述
            if (data != '') {
                var ssu = new SpeechSynthesisUtterance();
                // 言語 (日本語:ja-JP, アメリカ英語:en-US, イギリス英語:en-GB, 中国語:zh-CN, 韓国語:ko-KR)
                ssu.lang = 'en-US';
                // 速度 0.1-10 初期値:1 (倍速なら2, 半分の倍速なら0.5)
                ssu.rate = 0.5;
                // 高さ 0-2 初期値:1
                // ssu.pitch = 0.5;
                ssu.text = data;
                speechSynthesis.speak(ssu);
            }
        })
        .fail(function() {
            // 通信失敗時の処理を記述
            // alert("クリック失敗");
        });
    });

</script>

{% endblock %}